.gallery-img {
  object-fit: cover;
  margin: auto;
  width: 100%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  cursor: pointer;
}

.gallery-img:hover {
  box-shadow: 5px 10px 5px var(--shadow-color);
  transform: scale(1.01);
}

.gallery-img:active {
  transform: scale(1.02) rotate(2deg);
}
