.gallery-img {
  transition: all ease-in-out 0.8ms;
  object-fit: cover;
  margin: auto;
  width: 100%;
  aspect-ratio: 1/1;
}

@media only screen and (max-width: 400px) {
  .gallery-img {
    object-fit: cover;
  }
}
