.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);

  animation: shoowIn 0.3s ease-in;
  z-index: 100;

  cursor: pointer;
}

.modal.close {
  animation: shoowOut 0.3s ease-out;
  background: none;
  left: 100%;
  opacity: 0;
  transform: scale(0.8);
  cursor: default;
}

.modal-hero {
  max-width: 90%;
  max-height: 90%;
  cursor: default;
}

.shoowIn {
  animation: shoowIn 0.3s ease-in;
  opacity: 1;
}

.shoowOut {
  animation: shoowOut 0.3s ease-in;
  opacity: 0;
}

.modal-btns .cat-btn {
  top: calc(50% - 10ch);
}

.modal-btns :last-child {
  left: calc(100% - 10px - 10ch);
}

@media (max-width: 800px) {
  .modal-btns :last-child {
    left: calc(100% - 10ch);
  }
}

@media (max-width: 350px) {
  .modal-btns .cat-btn {
    background: none;
    border: none;
    width: 50px;
    left: 0px;
  }
  .cat-btn:hover {
    background-color: none;
    box-shadow: none;
  }
  .modal-btns :last-child {
    left: calc(100% - 50px);
  }
}

@keyframes shoowIn {
  from {
    left: -100%;
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    left: 0;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shoowOut {
  from {
    left: 0;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 100%;
    opacity: 0;
    transform: scale(0.8);
  }
}
