* {
  padding: 0;
  margin: 0;
  transition: all 0.1s ease;
}

@starting-style {
  * {
    opacity: 0;
    scale: 1 0;
  }
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --warm-gold-color: #ffa726;
  --golden-color: #ffb300;

  color-scheme: dark light;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fdfdfd;
    --button-bg: #ececec;
    --text-color: #1e1e1e;
    --shadow-color: rgba(0, 0, 0, 0.08);
    --hover-bg: #dddddd;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-color: rgba(0, 0, 0, 0.5);
    --hover-bg: #2a2a2a;
    --bg-color: #121212;
    --button-bg: #1e1e1e;
    --text-color: #e8e8e8;
  }
}
